@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Bienvenido al fixture de la copa del mundo</h1>
    <img src="~/img/world-cup-2022-logo-1.png" width="400">
</div>
