@using Dominio;
@model Partido;
<h1>Reseña de Partido</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <input name="idPartido" value="@ViewBag.idPartido" type="hidden" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Titulo</label>
                <input name="titulo" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Contenido</label>
                <input name="contenido" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Seleccion 1</label>
                <input value="@Model.SeleccionUno.Pais.Nombre" readonly class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Seleccion 2</label>
                <input value="@Model.SeleccionDos.Pais.Nombre" readonly class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Realizar reseña" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
@ViewBag.msg
<div>
    <a asp-action="PartidosCerrados">Volver</a>
</div>